.upButton {
    position: absolute;
    top: 350px;
    left: 100px;
}

.downButton {
    position: absolute;
    top: 450px;
    left: 100px;
}

.leftButton {
    position: absolute;
    top: 400px;
    left: 50px;
}

.rightButton {
    position: absolute;
    top: 400px;
    left: 150px;
}

.automaticallyButton {
    position: absolute;
    top: 550px;
    left: 75px;
}